@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;1,300&family=Poppins:wght@500;600;700;800&display=swap');

.navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 8vh;
    box-shadow: 1px 5px 5px rgb(181, 181, 181);
    padding: 10px;
}

.logodiv{
    display: flex;
    align-items: start;
    /* height: 100%; */
    width:100%;
    /* width: 50vw; */
}

.navMenu{
    display: flex;
    align-items:center;
    justify-content: end;
    width: 50vw;
    margin-right: 40px;
}

.a{
    text-decoration: none;
    color: black;
}

.a:hover{
    transition: 0.2s;
    color: #F8624F;
}

.navLogo {
    width: 60px;
}

li {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 26px;
    margin: 0 20px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0px;
}

.primaryBtn{
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 20px;
    margin: 0 20px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #F8624F;
}

.primaryBtn:hover{
    transition: 0.5s;
    font-size: 21px;
}

@media screen and (max-width: 582px) {
    ul {
        margin-left: 10px;
    }
}   