.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.profile-frame {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.profile-pic {
    height: fit-content;
    padding: 20px;
}

.profile-pic img {
    width: 160px;
    height: 160px;
    object-fit: contain;
    border-radius: 100%;
}

.profile-data {
    text-align: left;
    padding: 20px;
}

.profile-info {
    display: flex;
}

.profile-info p {
    padding: 0px 5px;
}

/* .gallery {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
} */

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 40px; */
    width: 80vw;
}

.profile-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* margin-left: -15px; */
    width: auto;
}

.profile-masonry-grid_column {
    padding: 10px;
}