@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;1,300&family=Poppins:wght@500;600;700;800&display=swap');

.signin-container{
    display: flex;
}

.form-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    padding-top: 55px;
}

.subheading{
    font-family: 'Montserrat', sans-serif;
    width: 50vw;
    text-align:center;
    font-size: 22px;
    margin-bottom: 0px;
}

.nom-nom{
    font-size: 25px;
    color: #F8624F;
}

.signin{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 30vw;
    text-align:center;
    font-size: 40px;
    padding: 1px;
    color: #ffffff;
    background-color: #F8624F;
    margin-top: 0;
    margin-bottom: 30px;
}

.loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    padding-bottom: 10px;
    /* padding-left: 10px;
    padding-right: 10px; */
    margin-top: 30px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 1px;
    /* box-shadow: 0 0 5px 5px #f8634f47; */
    border-color: #f8634f55;
}

.welcomeBack{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin: 0px;
    margin-top: 10px;
}

.credentials{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0px;
    margin-bottom: 10px;
}

.input-div{
    width: 30vw;
    text-align: left;
    margin-bottom : 16px;
}

.signin-container p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: left;
    margin: 0;
}

.email{
    padding: 10px;
    margin-top: 20px;
}

.password{
    padding: 10px;
    margin-top: 20px;
}

.input{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    height: 50px;
    border: none;
    border-bottom: #F8624F 1px solid;
    width: 28vw;
}

input:focus{
    outline: none;
}

.signin-btn{
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    width: 10vw;
    padding: 10px;
    border-radius: 10px;
    background-color: #F8624F;
    color: white;
    border: none;
    margin: 10px;
}

.signin-btn:hover{
    color: #F8624F;
    background-color: #ffffff;
}

.loginForm2{
    margin: 10px;
    margin-bottom: 40px;
}

.Imagediv{
    /* padding-top: 50px; */
    display: flex;
    width: 40vw;
    align-items: center;
    justify-content: center;
}

.signIn-logo{
    width: 60px;
}


a{
    text-decoration: none;
    color: rgb(49, 69, 246);
}

.pizzaImg{
    position: relative;
    margin-top: 0;
    left: 40%;
    width: auto;
    height: 80vh;
}